@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(220.55deg, #171717 0%, #000000 100%) fixed;
    font-family: 'Lato', sans-serif;
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.parrafo {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 1.6;
}

/* Animación scroll */
.navScroll {
    animation: navScroll ease-in-out forwards;
    animation-timeline: scroll(root);
    animation-range: 0px 300px;
}

@keyframes navScroll {
    0% {
        background-color: transparent;
        border-bottom: 0px solid transparent;
        backdrop-filter: blur(0px);
    }

    100% {
        backdrop-filter: blur(5px);
        border-bottom: 0.1px solid rgba(208, 208, 208, 0.201);
    }
}

/* Header animacion y fondo */
.movimiento-header {
    background: linear-gradient(circle, #171717 0%, #000000 100% );
    animation: movimiento 30s infinite;
}

@keyframes movimiento {
    0% {
        background-position: center center;
    }

    50% {
        background-position: center 100%;
    }

    100% {
        background-position: center center;
    }
}

/* Boton Header*/
.fondoGuapoHeader:hover {
    background: linear-gradient(20deg,#000,#68641e8a);
    box-shadow: #000;
    border: solid 1px rgb(255, 255, 255);
    transform: translateY(-5px);
}

@keyframes bordeParpadeo {
    0% {
        border-color: rgb(255, 255, 255);
    }

    50% {
        border-color: rgba(255, 255, 255, 0);
    }

    100% {
        border-color: rgb(255, 255, 255);
    }
}

/*Animacion entrada*/
.fadeIn {
    animation: fadeIn linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
}

.fadeInRapido {
    animation: fadeIn linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        translate: 0 100px;
        scale: 0.8;
    }

    to {
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
}

/* Skill sección */

.parpadeo {
    box-shadow: 0rem 0rem 0.5rem 0rem hsla(0, 0%, 100%, 0.25);
    animation: parpadeo 5s ease infinite;
}

@keyframes parpadeo {
    0% {
        box-shadow: 0rem 0rem 0.5rem 0rem hsla(0, 0%, 100%, 0.15);
    }

    50% {
        box-shadow: 0rem 0rem 1rem 0rem hsla(0, 0%, 100%, 0.35);
    }

    100% {
        box-shadow: 0rem 0rem 0.5rem 0rem hsla(0, 0%, 100%, 0.15);
    }
}

/* Fondo guapo */

.fondoGuapo {
    transition: all 0.2s ease-in-out;
    box-shadow: 0 1.5rem 5rem -1rem hsla(0, 0%, 0%, 0.3);
}

.fondoGuapo:hover {
    background: linear-gradient(20deg,#000,#68641e8a);
    box-shadow: #000;
    border: solid 1px rgb(255, 255, 255);
}