@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(220.55deg, #171717 0%, #000000 100%) fixed;
    font-family: 'Lato', sans-serif;
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    line-height: 1.6;
}

/* Animación scroll */
.navScroll {
    animation: navScroll ease-in-out forwards;
    animation-timeline: scroll(root);
    animation-range: 0px 300px;
}

@keyframes navScroll {
    0% {
        background-color: transparent;
        border-bottom: 0px solid transparent;
        backdrop-filter: blur(0px);
    }

    100% {
        backdrop-filter: blur(5px);
        border-bottom: 0.1px solid rgba(208, 208, 208, 0.201);
    }
}

/* Header animacion y fondo */
.movimiento-header {
    animation: movimiento 30s infinite;
}

@keyframes movimiento {
    0% {
        background-position: center center;
    }

    50% {
        background-position: center 100%;
    }

    100% {
        background-position: center center;
    }
}

/* Boton Header*/
.header-btn-cv:hover {
    background: transparent;
    cursor: pointer;
    border: 1px solid rgb(255, 255, 255);
    animation: bordeParpadeo 3s linear infinite;
}

.animacionHover:hover {
    animation: bordeParpadeo 3s linear infinite;
}

@keyframes bordeParpadeo {
    0% {
        border-color: rgb(255, 255, 255);
    }

    50% {
        border-color: rgba(255, 255, 255, 0);
    }

    100% {
        border-color: rgb(255, 255, 255);
    }
}

/*Animacion entrada*/
.fadeIn {
    animation: fadeIn linear both;
    animation-timeline: view();
    animation-range: entry 20% cover 50%;
}

.fadeInRapido {
    animation: fadeIn linear both;
    animation-timeline: view();
    animation-range: entry 10% cover 30%;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        translate: 0 100px;
        scale: 0.8;
    }

    to {
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
}

/* Skill sección */

.parpadeo {
    background: rgb(22, 22, 22);
    box-shadow: 0rem 0rem 2rem 0rem hsla(0, 0%, 100%, 0.25);
    animation: parpadeo 5s ease infinite;
    max-width: 1200px;
}

@keyframes parpadeo {
    0% {
        box-shadow: 0rem 0rem 2rem 0rem hsla(0, 0%, 100%, 0.15);
    }

    50% {
        box-shadow: 0rem 0rem 3rem 0rem hsla(0, 0%, 100%, 0.35);
    }

    100% {
        box-shadow: 0rem 0rem 2rem 0rem hsla(0, 0%, 100%, 0.15);
    }
}