@media (max-width: 950px){
    
    .first-section {
        height: 500px;
        background: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 100px;
        color: rgb(0, 0, 0);
        font-size: 15px;
    }

    .second-section {
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 100px;
        color: rgb(0, 0, 0);
        background: rgb(214, 212, 212);
        font-size: 15px;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
    }

    .container-title-img{
        height: 700px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: left;
        color: rgb(0, 0, 0);
        flex-direction: column;
        justify-content: center;
        display: flex;
        margin-top: 0;
    }
    
    .container-title-img h1{
        font-size: 65px;
        color: white;
        margin-left: 15rem;
    }
    .container-title-img h2{
        font-size: 20px;
        color: white;
        margin-left: 15rem;
    }
    
     
}

@media (max-width: 690px){
    
    .first-section {
        height: 500px;
        width: 100%;
        background: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 100px;
        color: rgb(0, 0, 0);
        font-size: 13px;
        
    }

    .second-section {
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 100px;
        color: rgb(0, 0, 0);
        background: rgb(214, 212, 212);
        font-size: 13px;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
    }

    .container-title-img{
        height: 600px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: left;
        color: rgb(0, 0, 0);
        flex-direction: column;
        justify-content: center;
        display: flex;
        margin-top: 0;
    }
    
    .container-title-img h1{
        font-size: 60px;
        color: white;
        margin-left: 10rem;
    }
    .container-title-img h2{
        font-size: 15px;
        color: white;
        margin-left: 10rem;
    }
     
}

@media (max-width: 600px){
    
    .first-section {
        height: 500px;
        width: 100%;
        background: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 100px;
        color: rgb(0, 0, 0);
        font-size: 12px;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
    }

    .second-section {
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 100px;
        color: rgb(0, 0, 0);
        background: rgb(214, 212, 212);
        font-size: 12px;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
    }

    .container-title-img{
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        text-align: left;
        color: rgb(0, 0, 0);
        flex-direction: column;
        justify-content: center;
        display: flex;
        margin-top: 0;
    }
    
    .container-title-img h1{
        font-size: 55px;
        color: white;
        margin-left: 5rem;
    }
    .container-title-img h2{
        font-size: 10px;
        color: white;
        margin-left: 5rem;
    }
     
}

@media (max-width: 560px){
    
    .first-section {
        height: 500px;
        width: 100%;
        background: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 100px;
        color: rgb(0, 0, 0);
        font-size: 11px;
    }

    .second-section {
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 100px;
        color: rgb(0, 0, 0);
        background: rgb(214, 212, 212);
        font-size: 11px;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
    }

    /*NAV*/

    .container-header-nav-logo {
        height: 50px;
        transition: 0.5s; 
    }

    .container-header nav {
        float: left;
        background-color: rgba(128, 128, 128, 0.281);
        width: 100%;
        display: flex;
        position: fixed;
        top: 0;
        z-index: 100;
        justify-content: center;
        align-items: center;
    }

    .container-header-nav-logo:hover {
        background-color: grey;
        transform: translateY(-3px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 10%;
    }
    
    .container-header nav ul {
        list-style: none;
        margin-right: 22rem;
    }
    
    .container-header nav ul li{
        display: flex;
        padding: 10px;
        justify-content: space-between;
        transition: 0.5s;
    }
    
    .container-header nav ul li:hover{
        background-color: grey;
        transform: translateY(-3px);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        border-radius: 10%;
    }
    
    .container-header nav ul li a{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 10px;
    }
}

@media (max-width: 460px){
    
    .first-section {
        height: 500px;
        width: 100%;
        background: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 100px;
        color: rgb(0, 0, 0);
        font-size: 10px;
    }

    .second-section {
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 100px;
        color: rgb(0, 0, 0);
        background: rgb(214, 212, 212);
        font-size: 10px;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
    }
     
}

@media (max-width: 420px){
    
    .first-section {
        height: 500px;
        width: 100%;
        background: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 100px;
        color: rgb(0, 0, 0);
        font-size: 9px;
    }

    .second-section {
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 100px;
        color: rgb(0, 0, 0);
        background: rgb(214, 212, 212);
        font-size: 9px;
        width: 100%;
        max-width: 100%;
        overflow: hidden;
    }
     
}

@media (max-width: 380px){
    
    .first-section {
        height: 500px;
        width: 100%;
        background: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 100px;
        color: rgb(0, 0, 0);
        font-size: 5px;
    }

    .second-section {
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 100px;
        color: rgb(0, 0, 0);
        background: rgb(214, 212, 212);
        font-size: 5px;
    }
     
}