* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
    line-height: 1.5;
    font-size: 1rem;
}

.header-container {
    height: 100vh;
    max-height: 900px;
    min-height: 700px;
    background: url('assets/imgs/main.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 90px;
}

.header-container-color {
    height: 100%;
    background: rgba(33, 37, 41, 0.85);
}

.navegation-header {
    float: left;
    width: 100%;
    background: rgb(52, 58, 64);
    height: 90px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #495057;
}

.navegation-list {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 1.8rem;
}

.navegation-list-element {
    margin-right: 1.5rem;
}

.link-list {
    text-decoration: none;
    color: white;
}

.link-list:hover {
    color: #C7C8C9;
}

.container-title {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.title-header {
    font-size: 5.5rem;
    font-family: "Oswald", sans-serif;
    color: white;
}

.subtitle-header {
    font-size: 3.5rem;
    font-family: "Oswald", sans-serif;
    color: white;   
    font-weight: 300;
}

.button-header {
    color: white;
    font-size: 1.25rem;
    line-height: 1.5;
    font-weight: 400;
    border-radius: 0.15rem;
    padding: 0.8rem 1.6rem;
    background: #ff214f;
    border-color: #ff214f;
    text-decoration: none;
    margin-bottom: 5.5rem;
    margin-top: 2.5rem;
}

.button-header:hover {
    background: #FA0034;
    border-color: #FA0034;
}

.first-section {
    height: 100vh;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around;
    background: rgb(52, 58, 64);
    display: flex;
}

.first-section-img {
    background: url('assets/imgs/about-section.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
    height: 100%;
    padding: 17.8rem;
}

.first-section-content {
    width: 40%;
    flex: 0 0 50%;
    margin-left: 8.5rem;
    margin-top: 0.4rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.first-section-h2 {
    font-family: "Oswald", sans-serif;
    color: white;   
    font-weight: 300;
    font-size: 39px;
}

.first-section-content-p {
    font-weight: 100;
}

.second-section {
    background: rgb(52, 58, 64);
}

.second-section-container-title {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-section-title {
    color: white;
    font-size: 4rem;
    font-family: "Oswald", sans-serif;
    font-weight: 500;
}

.container-gallary {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    height: 115vh;
    position: relative;
}

.image-gallary {
    width: 25%;
}

.image-gallary-plus {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
    color: rgba(0, 0, 0, 0);
    transition: color 0.5s ease;
    z-index: 2;
}

.image-gallary img{
    vertical-align: center;
    width: 100%;
    border: 1px solid #495057;
    transition: opacity 0.5s ease
}

.image-gallary img:hover {
    background: rgba(33, 37, 41, 0.85);
    opacity: 0.5;
    cursor: pointer;
}

.image-gallary img:hover .image-gallary-plus {
    color: rgb(255, 255, 255);
}

.container-third-section {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background: rgb(52, 58, 64);
    padding: 30rem;
}

.third-section-title {
    color: white;
    font-size: 4rem;
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    margin-top: 20rem;
}