---
import '../styles/footer.css';
---

<footer class="footer-container">
    <div class="footer-content">
        <div class="footer-links">
            <a href="#home">Home</a>
            <a href="#section-skill">Skills</a>
            <a href="#section-proyect">Projects</a>
            <a href="#section-certificates">Certificates</a>
        </div>

        <div class="footer-socials">
            <a href="https://www.linkedin.com/in/nicol%C3%A1s-adri%C3%A1n-bernal-berm%C3%BAdez-666a35282/" target="_blank" class="footer-btn-a">
                <button class="footer-btn-linkedin">
                    <i class="fa-brands fa-linkedin"></i>
                </button>
            </a>

            <a href="https://github.com/nicolasbb06" target="_blank" class="footer-btn-a">
                <button class="footer-btn-github">
                    <i class="fa-brands fa-github"></i>
                </button>
            </a>

            <a href="mailto:nicolasbernalbermudez@gmail.com" target="_blank" class="footer-btn-a">
                <button class="footer-btn-gmail">
                    <i class="fa-solid fa-envelope"></i>
                </button>
            </a>
        </div>

        <div class="footer-contact">
            <p>Email: <a href="mailto:nicolasbernalbermudez@gmail.com">nicolasbernalbermudez@gmail.com</a></p>
            <p>2025 Nicolás Adrián Bernal Bermúdez</p>
        </div>
    </div>
</footer>