<nav class="navScroll fixed top-0 left-0 w-full z-50 bg-transparent backdrop-blur-sm transition-all duration-300 ease-in-out px-8 py-4 flex justify-center items-center">
  <div class="flex justify-between items-center w-[90%]">
    <div class="w-[50%] md:w-[30%] flex items-center justify-start md:justify-center">
        <h1 class="text-white font-bold text-[25px]">NICOPORT</h1>
    </div>
        
    <div class="flex w-[50%] lg:hidden justify-end items-center hover:cursor-pointer" id="button-burguer">
        <i class="fa-brands fa-space-awesome text-white"></i>
    </div>
    
    <ul class="gap-6 items-center justify-center w-[30%] hidden lg:flex">
      <li><a class="text-white font-semibold relative hover:text-neutral-500" href="#home">Home</a></li>
      <li><a class="text-white font-semibold relative hover:text-neutral-500" href="#section-skill">Skills</a></li>
      <li><a class="text-white font-semibold relative hover:text-neutral-500" href="#section-proyect">Projects</a></li>
      <li><a class="text-white font-semibold relative hover:text-neutral-500" href="#section-certificates">Certificates</a></li>
    </ul>

    <div class="gap-4 items-center w-[30%] justify-center hidden lg:flex">
      <a href="https://www.linkedin.com/in/nicol%C3%A1s-adri%C3%A1n-bernal-berm%C3%BAdez-666a35282/" target="_blank">
        <button class="flex justify-center items-center w-[55px] h-[55px] bg-transparent hover:bg-black hover:cursor-pointer animacionHover border-[1px] border-white text-white font-semibold p-[20px] text-[20px] rounded-[50%] transition-all duration-300 ease-in-out">
          <i class="fa-brands fa-linkedin"></i>
        </button>
      </a>
      <a href="https://github.com/nicolas181106" target="_blank">
        <button class="flex justify-center items-center w-[55px] h-[55px] bg-transparent hover:bg-black hover:cursor-pointer animacionHover border-[1px] border-white text-white font-semibold p-[20px] text-[20px] rounded-[50%] transition-all duration-300 ease-in-out">
          <i class="fa-brands fa-github"></i>
        </button>
      </a>
      <a href="mailto:nicolasbernalbermudez@gmail.com" target="_blank">
        <button class="flex justify-center items-center w-[55px] h-[55px] bg-transparent hover:bg-black hover:cursor-pointer animacionHover border-[1px] border-white text-white font-semibold p-[20px] text-[20px] rounded-[50%] transition-all duration-300 ease-in-out">
          <i class="fa-solid fa-envelope"></i>
        </button>
      </a>
    </div>
  </div>
</nav>

<div class="fixed top-18 left-0 w-full h-[500px] bg-black/80 z-40 justify-end items-start hidden" id="nav-overlay">
    <ul class="gap-6 items-end justify-end flex flex-col w-full p-8">
      <li><a class="text-white font-semibold relative hover:text-neutral-500" href="#home">Home</a></li>
      <li><a class="text-white font-semibold relative hover:text-neutral-500" href="#section-skill">Skills</a></li>
      <li><a class="text-white font-semibold relative hover:text-neutral-500" href="#section-proyect">Projects</a></li>
      <li><a class="text-white font-semibold relative hover:text-neutral-500" href="#section-certificates">Certificates</a></li>
      <li>
          <a href="https://www.linkedin.com/in/nicol%C3%A1s-adri%C3%A1n-bernal-berm%C3%BAdez-666a35282/" target="_blank">
            <button class="flex justify-center items-center w-[55px] h-[55px] bg-transparent hover:bg-black hover:cursor-pointer animacionHover border-[1px] border-white text-white font-semibold p-[20px] text-[20px] rounded-[50%] transition-all duration-300 ease-in-out">
              <i class="fa-brands fa-linkedin"></i>
            </button>
          </a>
      </li>
      <li>
          <a href="https://github.com/nicolas181106" target="_blank">
            <button class="flex justify-center items-center w-[55px] h-[55px] bg-transparent hover:bg-black hover:cursor-pointer animacionHover border-[1px] border-white text-white font-semibold p-[20px] text-[20px] rounded-[50%] transition-all duration-300 ease-in-out">
              <i class="fa-brands fa-github"></i>
            </button>
          </a>
      </li>
      <li>
          <a href="mailto:nicolasbernalbermudez@gmail.com" target="_blank">
            <button class="flex justify-center items-center w-[55px] h-[55px] bg-transparent hover:bg-black hover:cursor-pointer animacionHover border-[1px] border-white text-white font-semibold p-[20px] text-[20px] rounded-[50%] transition-all duration-300 ease-in-out">
              <i class="fa-solid fa-envelope"></i>
            </button>
          </a>
      </li>
    </ul>
</div>

<script>
    const bottonBurguer = document.getElementById('button-burguer');

    bottonBurguer?.addEventListener('click', () => {
        const navOverlay = document.getElementById('nav-overlay');

        if (navOverlay?.classList.contains('hidden')) {
            navOverlay.classList.remove('hidden');
            navOverlay.classList.add('flex');
        } else {
            navOverlay?.classList.add('hidden');
            navOverlay?.classList.remove('flex');
        }
        
    });
</script>